<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../admin/styles.css" />
</head>

<body>
    welcome to admin page

    <ul class="nav">
        <li>
            <a href="#">Quản Lý Tour</a>
            <ul class="sub-menu">
                <li><a href="/admin/adminpage/addtour">Thêm tour</a></li>
                <li> <a href="#">Menu số 2.2</a></li>
                <li><a href="#">Menu số 2.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Quản Lý Khách Hàng</a>
            <ul class="sub-menu">
                <li><a href="#">Menu số 2.1</a></li>
            </ul>
        </li>
    </ul>


    <button id="logout">Logout</button>
</body>
<script>
    $('#logout').click(function() {
        window.location.href = '/admin/loginAdmin';
        document.cookie = "token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";

        return false;
    });
</script>


</html>