<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/tour/add" method="post">
        tourName <input class="tourName" type="text"></br>
        tourDescription <input class="tourDescription" type="text"></br>
        tourDuration <input class="tourDuration" type="text"></br>
        tourDeparture <input class="tourDeparture" type="text"></br>
        tourTransportation <input class="tourTransportation" type="text"></br>
        tourImages<input class="tourImages" type="text"></br>
        tourDetail<input class="tourDetail" type="text"><br>
        <input type="submit" name="submit" value="ok" />
    </form>
</body>

</html>